<app-doctor-nav></app-doctor-nav>
  
  <h3 style="text-align: center;">Patient .... consultation records</h3>
  <div style="width: 60%; text-align: center; margin-left:10%;">
    <h5 class="display-5" style="padding: 1% ;text-align: left;">Patient's profile</h5>
    <table class="table table-hover table-responsive-sm " >
      <thead class="thead-dark">
        <tr>
          <th scope="col">First&LastName</th>
          <th scope="col">Email</th>
          <th scope="col">Registration Date</th>
          <th scope="col">View patient measurements</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{myPatient?.first_name}}&nbsp;{{myPatient?.last_name}}</td>
          <td>{{myPatient?.email}}</td>
          <td>
            {{myPatient?.registration_date|date}}
          </td>
          <td>
            <a class="navbar-brand" style="cursor: pointer;"  (click)="doctorViewP(myPatient?.id)" > 
                <img src="/assets/images/seeData.png"  style="width:40px; padding-left: 10px;" >
              </a>
        </td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="container" style="width: 60%; margin-left: 10%;">
      <h4>New consult</h4>
  <div class="input-group" >
      
      <textarea class="form-control" aria-label="With textarea"></textarea>
      <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button">Submit consult</button>
        </div>
    </div>
  </div>

    <br>
    <br>

    <div class="container" style="width: 60%; margin-left: 10%;">
        <h4>Consultations history</h4>
    <div class="input-group" >
        <div class="input-group-prepend">
          <span class="input-group-text">Doctor...</span>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">Date...</span>
          </div>
          
        <textarea class="form-control" aria-label="With textarea"></textarea>
        <div class="input-group-append" id="button-addon4">
            <button class="btn btn-primary" type="button" >edit</button>
            <button class="btn btn-secondary" type="button">delete</button>
          </div>
      </div>
    </div>