<ul>
  <li class="nav-item">
    <a class="nav-link" href="/insertdata"  >Insert Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listdata">List Of Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/updatedata">Update Data</a>
  <!-- </li> -->
  <li class="nav-item">
    <a class="nav-link" href="/averagedata">Average Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/chartsdata">Charts of Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/updateaccount">Update Account</a>
  </li>
  <li style="float:right"><a class="active" (click)="logout()">Logout</a></li>
</ul>


<div class="container py-5 mt-5">
    <div class="card medi-card">
      <div class="card-body">
      <form [formGroup]="insertform">
          <div class="form-group">
            <h2 class="title">Add your medical data.</h2>
          </div>
    

          <div class="form-group">
            <label>Carbs (grams)</label>
            <input type="number" class="form-control" formControlName="carbIntake"
            [ngClass]="{ 'is-invalid': submitted && f.carbIntake.errors }" >
            <div *ngIf="submitted && f.carbIntake.errors" class="invalid-feedback">
              <div *ngIf="f.carbIntake.errors.required">Carb is required</div>
          </div>
          </div>
          
          <div class="form-group">
              <label>Glucose ( mg/dL) </label>
              <input type="number"class="form-control" formControlName="bloodGlucoseLevel"
              [ngClass]="{ 'is-invalid': submitted && f.bloodGlucoseLevel.errors }" >
              <div *ngIf="submitted && f.bloodGlucoseLevel.errors" class="invalid-feedback">
                <div *ngIf="f.bloodGlucoseLevel.errors.required">Carb is required</div>
            </div>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="InsertDataSumbit()">Submit</button>
            <a href="/patient" type="button" >Back</a>
          </div>
        </form>
      </div>
    </div>
  </div> 
