<nav class="nav-header sticky-top py-1" style="background-color: #007cc2;">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <li class="py-2 d-none d-md-inline-block" id =home  > Sacchon logout
        <a class="navbar-brand" href="/">
        <img src="/assets/images/home.png"  style="width:40px; padding-left: 10px;" >
      </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Doctor Homepage
        <a class="navbar-brand" href="/doctor" >
          <img src="/assets/images/docHome.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Add patients
        <a class="navbar-brand" href="/doctorAddP" >
          <img src="/assets/images/plus.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Manage Account
        <a class="navbar-brand" href="/doctorAcc" >
          <img src="/assets/images/user.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
    </div>
  </nav>
  
  
  <div class="jumbotron p-1 p-sm-1 " >
    <div class="container">
      <h2>Welcome Dr ....</h2>
    </div>
  </div>

  <div id="bg" style="width:100%;">
    <div class="container-fluid">
                <div id="c" class="col-md-6 offset-md-3"> 
                    <h3 style="text-align: center;">Account Information</h3>
                    
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                        <div class="form-group col-md-6">
                            <label>First Name*</label>
                            <input type="text" formControlName="firstName" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
    
                        <div class="form-group col-md-6">
                            <label>Last Name*</label>
                            <input type="text" formControlName="lastName" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
    
                        <div class="form-group col-md-6">
                            <label>Username*</label>
                            <input type="text" formControlName="userName" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                <div *ngIf="f.userName.errors.required">Username is required</div>
                            </div>
                        </div>
    
                        <div class="form-group col-md-6">
                            <label>Email*</label>
                            <input type="text" formControlName="email" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                   
    
                        <div class="form-group col-md-6">
                            <label>Mobile*</label>
                            <input type="text" (keypress)="numberOnly($event)" formControlName="mobile" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                                <div *ngIf="f.mobile.errors.minlength">Mobile must be at least 10 characters</div>
                                <div *ngIf="f.mobile.errors.maxlength">Mobile must be 10 characters</div>
                            </div>
                        </div>
                
                 
                        <div class="form-group col-md-6">
                            <label>Phone</label>
                            <input type="text" (keypress)="numberOnly($event)" formControlName="phone" class="form-control" />
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.minlength">Phone must be at least 10 characters</div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group col-md-6">
                        <label>Date of Birth*</label>
                        <input type="date" onfocus="(this.type='date')" class="form-control" formControlName="dob"
                        [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"/>
                        <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                        </div>
                        </div> 
                 
                   
                         <div class="form-group col-md-6">    
                            <label>Gender*</label>    
                            <select class="form-control"formControlName="gender"
                            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                            </div>    
                               <option>Male</option>    
                               <option>Female</option>    
                               <option>-</option> 
                            </select>    
                        </div> 
    
                      
                        
                        <div class="form-group col-md-6">
                            <label>Amka*</label>
                            <input (keypress)="numberOnly($event)" type="text" formControlName="amka" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.amka.errors }" />
                            <div *ngIf="submitted && f.amka.errors" class="invalid-feedback">
                                <div *ngIf="f.amka.errors.required">AMKA is required</div>
                                <div *ngIf="f.amka.errors.minlength">AMKA must be 9 characters</div>
                                <div *ngIf="f.amka.errors.maxlength">AMKA must be 9 characters</div>
                            </div>
                        </div>
    
                        <div class="form-group col-md-6">
                            <label>Password*</label>
                            <input type="password" formControlName="password" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
    
                        <div class="form-group col-md-6">
                            <label>Confirm Password*</label>
                            <input type="password" formControlName="confirmPassword" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    
                        <div class="col-md-6 offset-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Confirm changes</button>
                             
                            <button type="submit" class="btn btn-danger" style="margin-left: 22%;">Deactivate</button>
                        </div>
                    </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>