<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <li class="nav-item">
        <a class="navbar-brand" href="/doctor"  >Doctor</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/home">Logout</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/admin">Admin</a>
      </li>
  </nav>
<div class="container-fluid">
    <h2>Get Patients from json get request</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listPatients">
            <th>{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.body}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <h2>Get Patients from json get with parameters request</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listPatientsParam">
            <th>{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.body}}</td>
          </tr>
        </tbody>
      </table>
      <h2>Data returned of post method</h2>
      <h6>{{objToCapture?.id}}</h6>
      <h6>{{objToCapture?.name}}</h6>
      <h6>{{objToCapture?.email}}</h6>
      <h6>{{objToCapture?.body}}</h6>
  </div>
  

