<ul>
  <li class="nav-item">
    <a class="nav-link" href="/insertdata"  >Insert Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listdata">List Of Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/updatedata">Update Data</a>
  <!-- </li> -->
  <li class="nav-item">
    <a class="nav-link" href="/averagedata">Average Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/chartsdata">Charts of Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/updateaccount">Update Account</a>
  </li>
  <li style="float:right"><a class="active" (click)="logout()">Logout</a></li>
</ul>

<div id="w"class="container"> Welcome {{userObj?.last_name}} {{userObj?.first_name}}

<h5>As patient, you be able to use the system to store diabetes data 
  at any time. After a month of data
  recording, a doctor will review 
  the measurments and provide advice
   for the next month. </h5>
  </div>
