<ul>
    <li class="nav-item">
      <a class="nav-link" href="/insertdata"  >Insert Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/listdata">List Of Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/averagedata">Average Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/chartsdata">Charts of Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/updateaccount">Update Account</a>
    </li>
    
    <li style="float:right"><a class="active" (click)="logout()">Logout</a></li>
  </ul>