<app-admin-nav></app-admin-nav>

  
    <div id="bg" style="width:100%;">
        <div class="container-fluid">
                    <div id="c" class="col-md-6 offset-md-3"> 
                      <h3 style="text-align: center;">Inactive profiles</h3>
                      <h5 style="margin: 5%; text-align: center;">Search for a patient or doctor inactivity over time range</h5>
                        
                        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                           
        
                           
                              <div class="form-group col-md-6">    
                                <label>Account Type*</label>    
                                <select class="form-control"formControlName="typeAccount"
                                [ngClass]="{ 'is-invalid': submitted && f.typeAccount.errors }">
                                <div *ngIf="submitted && f.typeAccount.errors" class="invalid-feedback">
                                </div>    
                                   <option>Doctor</option>    
                                   <option>Patient</option>    
                                </select>    
                            </div>  
                            
                      
        
                            <div class="form-group col-md-6">
                                <label>Email*</label>
                                <input type="text" formControlName="email" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
      
                            
                            <div class="form-group col-md-6">
                            <label>Date start</label>
                            <input type="date" onfocus="(this.type='date')" class="form-control" formControlName="dStart"
                            [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"/>
                            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                            </div>
                            </div> 
                     
                       
                            <div class="form-group col-md-6">
                              <label>Date end</label>
                              <input type="date" onfocus="(this.type='date')" class="form-control" formControlName="dEnd"
                              [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"/>
                              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                              </div>
                              </div>
                    
                        
                            <div class="col-md-6 offset-md-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="margin: 4%;font-size: 18px;">Search</button>
                                
                            </div>
                        </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div style="width: 60%; text-align: center; margin-left:5%;">
              <h5 class="display-5" style="padding: 1% ;text-align: left;">Profile activity</h5>
              <table class="table table-hover table-responsive-sm " >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Role</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date of last activity</th>
                    <th scope="col">Activity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Doctor</td>
                    <td>myemail@.com</td>
                    <td>
                      20/10/2020
                    </td>
                    <td>
                    Consultation
                  </td>
                  </tr>
                </tbody>
              </table>
              </div>