<app-admin-nav></app-admin-nav>
  
            
            <div style="width: 60%; text-align: center; margin-left:5%;">
              <h5 class="display-5" style="padding: 1% ;text-align: left;">Patients profiles that needs to be consulted</h5>
              <table class="table table-hover table-responsive-sm " >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Days passed</th>
                    <th scope="col">Registered date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Patient A</td>
                    <td>myemail@.com</td>
                    <td>
                      35
                    </td>
                    <td>
                     20/10/2020
                  </td>
                  </tr>
                </tbody>
              </table>
              </div>