<nav class="nav-header sticky-top py-1" style="background-color: #00c288;">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <li class="py-2 d-none d-md-inline-block" id =home  > Sacchon logout
        <a class="navbar-brand" href="/">
        <img src="/assets/images/home.png"  style="width:40px; padding-left: 10px;" >
      </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Admin Homepage
        <a class="navbar-brand" href="/admin" >
          <img src="/assets/images/docHome.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Consult Pending
        <a class="navbar-brand" href="/adminConW" >
          <img src="/assets/images/consult.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Monitor Activity
        <a class="navbar-brand" href="/adminNoA" >
          <img src="/assets/images/monitor.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
    </div>
  </nav>
  <div class="jumbotron p-1 p-sm-1 " >
    <div class="container">
      <h2>Welcome Chief Dr........</h2>
    </div>
</div>
  
            
            <div style="width: 60%; text-align: center; margin-left:5%;">
              <h5 class="display-5" style="padding: 1% ;text-align: left;">Patients profiles that needs to be consulted</h5>
              <table class="table table-hover table-responsive-sm " >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Days passed</th>
                    <th scope="col">Registered date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Patient A</td>
                    <td>myemail@.com</td>
                    <td>
                      35
                    </td>
                    <td>
                     20/10/2020
                  </td>
                  </tr>
                </tbody>
              </table>
              </div>